[pylint]
ignore=
    __init__.py,
disable=
    broad-except,
    dangerous-default-value,
    fixme,
    invalid-name,
    line-too-long,
    not-callable,
    redefined-outer-name,
    too-many-branches,
    too-many-locals,
    unused-argument,
